# This file is a service
# This file should be in /etc/systemd/system/ 
[Unit]


[Service]
ExecStart=/usr/local/bin/battery.sh
#ExecStop=/usr/local/bin/battery-stop.sh

[Install]
WantedBy=default.target
